* {
    margin: 0;
    padding: 0;
  }

  .container{max-width: 960px; margin: auto;}

  .box{
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    align-content: center
  }

.video_container{
  position:relative;
  overflow: hidden;
  height: 480px;
  width: 480px;
}

.videoFrame{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 480px;
  width: 960px;
}

.nautic{
  font-family: 'Sail', cursive;
}

.appbar{
   background-color: aliceblue;
}

.card_container{
  display:flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  align-content: center
}

.title_container{
  height: 50px;
  width: 100%;
  background-color: #2E3B55;
  font-family: 'Sail', cursive;
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
}

.body_container{
  height: 200px;
  width: 100%;
  font-family: 'Gentium Book Plus', serif;
  color: #726C6C;
  font-size: 18px;
  padding-top: 20px;
}

.body_container b{
  color:orange;
}